.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 22px 19px;
}

.copyright__text {
    font-family: 'Arial';
    font-size: 16px;
    line-height: normal;
    text-decoration: none;
}

.copyright__link:hover path,
.copyright__link:focus path {
    fill: @basic-green;
}

.copyright__text:active,
.copyright__link:active {
    opacity: 0.3;
}