.data {
    border: none;
    padding: 0;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: @tablet-width) {
        border: none;
    }
}

.data__item {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    
    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }

    @media (min-width: @desktop-width) {
        margin-bottom: 20px;
    }
}

.data__item:last-of-type {
    margin-bottom: 10px;

    @media (min-width: @desktop-width) {
        margin-bottom: 0px;
    }
}

.data__label {
    margin-right: 13px;
    width: max-content;
}

.data__item input {
    border: 1px solid #e7e7e7;
    padding: 13px 0px 13px 16px;
    margin-bottom: 14px;
    flex-grow: 1;

    @media (min-width: @desktop-width) {
        margin-bottom: 0px;
    }
}

.data__item input::placeholder {
    color: @basic-dark-gray;
    width: min-content;
    text-transform: uppercase;
}

.data__item input:hover,
.data__item input:focus {
    border-color: #cdcdcd;
}

.data__item input:focus-visible {
    outline: #444;
    border: 1px solid @basic-dark-gray;
}
