.header {
    // height: 66px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    // height: 66px;
    // background-color: #f0d2d2;
    align-items: center;
    // flex-direction: column-reverse;
    // width: 767px;
}

.header__logo-cat {
    display: block;
    padding: 22px 0;
}
