.head {
    text-align: center;
}

.head__wrapper {
    text-align: center;
    margin: 0 auto;
    width: 320px;
    height: 305px;
    color: @basic-white;
    // background-image: url(../img/index_backgroud_cat_mobile.png);
    background: @basic-green url(../img/index_backgroud_cat_mobile.png) no-repeat center top;
    min-height: 305px;
    // padding-bottom: 135px;
}

.head__wrapper h2 {
    font-size: 36px;
    line-height: 36px;
    color: @basic-white;
    padding-top: 27px;
    padding-bottom: 25px;
}

.head__wrapper p {
    padding-bottom: 29px;
}

.head__btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 280px;
    margin-top: 135px;
    margin-bottom: 22px;
    padding: 11px 0px;
    color: @basic-white;
    background: @basic-green;
    border: none;
}