.head {
    text-align: center;
}

.head__wrapper {
    text-align: center;
    margin: 0 auto;
    // width: 320px;
    height: 305px;
    padding-top: 27px;
    color: @basic-white;
    // background-image: url(../img/index_backgroud_cat_mobile.png);
    // background: @basic-green url(../img/index_backgroud_cat_mobile.png) no-repeat center top;
    background-image: url(../img/index_backgroud_cat_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // min-height: 305px;
}

.head__wrapper h2 {
    font-size: 36px;
    line-height: 36px;
    color: @basic-white;
    margin-bottom: 25px;
    min-height: 72px;
    // height: 72px;
}

.head__wrapper p {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding-bottom: 29px;
}

.head__btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 88%;
    margin-top: 135px;
    margin-bottom: 22px;
    padding: 11px 0px;
    // color: @basic-white;
    // background: @basic-green;
    // border: none;
}