.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 11px 0 17px;
    align-items: center;
    line-height: 0px;

    @media (min-width: @tablet-width) {
        margin: 24px 0 64px;
    }

    @media (min-width: @desktop-width) {
        margin: 0 auto;
        padding: 53px 110px 0px;
    }
}

.header__pict {
    display: block;
}

.header__pict img {
    display: block;

    @media (min-width: @tablet-width) {
        width: 174px;
        height: 52px;
    }

    @media (min-width: @desktop-width) {
        width: 202px;
        height: 59px;
    }
}

.header__logo-cat {
    display: block;

    @media (min-width: @tablet-width) {
        display: none;
    }
}

.header__logo:hover,
.header__logo:focus,
.header__logo-cat:hover,
.header__logo-cat:focus {
    opacity: 0.8;
}

.header__logo:active,
.header__logo-cat:active {
    opacity: 0.6;
}