.header {
    flex: 1 0 auto;
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 11px 0 17px;
    align-items: center;

    @media (min-width: @tablet-width) {
        margin: 24px 0 64px;
    }

    @media (min-width: @desktop-width) {
        margin: 0 auto;
        padding: 53px 110px 0px;
    }
}

.header__logo {
    @media (min-width: @tablet-width) {
        display: none;
    }
}

.header__logo-cat {
    display: block;

    @media (min-width: @tablet-width) {
        display: none;
    }
}

.header__logo-tablet {
    display: none;

    @media (min-width: @tablet-width) {
        display: block;
    }

    @media (min-width: @desktop-width) {
        display: none;
    }
}

.header__logo-desktop {
    display: none;

    @media (min-width: @desktop-width) {
        display: block;
    }
}

.header__logo:hover,
.header__logo:focus,
.header__logo-cat:hover,
.header__logo-cat:focus {
    opacity: 0.8;
}

.header__logo:active,
.header__logo-cat:active {
    opacity: 0.6;
}