.head {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
        margin: 0;
        grid-template-areas: 
          "head__wrapper"
          "head__btn"
          "head__pict";
    }

    @media (min-width: @desktop-width) {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 190px;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 111px auto auto 266px;
        grid-template-areas: 
        ". head__pict"
        "head__wrapper head__pict"
        "head__btn head__pict"
        ". head__pict";
    }
}

.head__wrapper {
    text-align: center;
    color: @basic-white;
    background-image: url(../img/index_backgroud_cat_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 305px;

    @media (min-width: @tablet-width) {
        grid-area: head__wrapper;
        background: none;
        text-align: left;
        padding: 0 118px;
        min-height: auto;

    }

    @media (min-width: @desktop-width) {
        margin: 0;
        padding: 0;
    }
}

.head__wrapper h1 {
    font-size: 36px;
    line-height: 36px;
    color: @basic-white;
    margin-bottom: 25px;
    min-height: 80px;
    padding: 27px 20px 0;

    @media (min-width: @tablet-width) {
        font-size: 60px;
        line-height: 60px;
        color: #000;
        margin-bottom: 41px;
        padding: 0;
        min-height: 120px;
    }
}

.head__wrapper p {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 20px;
        color: #000;
    }
}

.head__pict {
    margin-top: -140px;

    @media (min-width: @tablet-width) {
        grid-area: head__pict;
        margin-top: -80px;
        
    }

    @media (min-width: @desktop-width) {
        margin-top: 29px;
        margin-left: -50px;
    }
}

.head__pict img {
    margin: 0 auto;
    display: block;

    @media (min-width: @tablet-width) {
        width: auto;
    }

    @media (min-width: @desktop-width) {
        margin: 0;
    }
}

.head__btn {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @basic-green;
    color: #fff;
    margin: 135px 20px 22px;
    margin: 0 20px;
    text-align: center;
    padding: 13px 0px;
    position: relative;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 26px;
        padding: 14px 26px;
        width: 244px;
        margin: 0;
        margin-top: 49px;
        margin-left: 112px;

        grid-area: head__btn;
    }

    @media (min-width: @desktop-width) {
        margin: 0;
        margin-top: 52px;
    }
}
