.main-nav__list {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: @basic-green;
    text-transform: uppercase;

    // display: flex;
    // flex-direction: column;

    position: absolute;
    top: 68px;
    right: 6px;
    // bottom: -108px;
    // right: 5px;



    // display: none;
}

.main-nav__item {
    padding: 10px 10px;
    // border-bottom: 1px solid #000;
    border: 1px solid @basic-gray;
    border-bottom: none;
}

.main-nav__item:last-of-type {
    border-bottom: 1px solid @basic-gray;
}

.main-nav__item a {
    text-decoration: none;
}

// .main-nav__burger {
//     content: "";
    
// }