.main-nav__list {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: @basic-green;
    text-transform: uppercase;

    position: absolute;
    top: 68px;
    right: 6px;

    display: none;
}

.main-nav__item {
    padding: 10px 10px;
    border: 1px solid @basic-gray;
    border-bottom: none;
}

.main-nav__item:last-of-type {
    border-bottom: 1px solid @basic-gray;
}

.main-nav__item a {
    text-decoration: none;
}
