.products {

    @media (min-width: @desktop-width) {
        margin-top: 74px;
    }
}

.products__title {
    font-size: 36px;
    line-height: 36px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #ebebeb;
    padding: 26px 0 41px 20px;

    @media (min-width: @tablet-width) {
        font-size: 60px;
        line-height: 60px;
        padding: 0;
        margin-left: 30px;
        margin-bottom: 23px;
        border: none;
    }

    @media (min-width: @desktop-width) {
        margin-left: 110px;
        margin-bottom: 84px;
    }
}

.products__list {

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
        row-gap: 60px;
        column-gap: 60px;
        padding: 0 30px;
        align-items: end;
    }

    @media (min-width: @desktop-width) {
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
        row-gap: 62px;
        column-gap: 80px;
        padding: 0 110px;
    }
}

.products__item {
    border-bottom: 1px solid #ebebeb;
    border-right: none;
    border-left: none;
    padding: 0px 20px 25px;
    text-align: center;
    position: relative;

    @media (min-width: @tablet-width) {
        border: none;
        position: relative;
        padding: 0;
        padding-bottom: 40px;
        margin: 0;
        display: grid;
    }
}

.products__item::before {

    @media (min-width: @tablet-width) {
        content: "";
        width: 100%;
        height: 430px;
        background-color: #f2f2f2;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

.products__list .products__item:last-of-type::before {
    display: none;
}

.products__item:nth-of-type(1) .products__img {
    padding-top: 33px;
    padding-left: 36px;

        @media (min-width: @tablet-width) {
        padding: 0;
    }
}

.products__item:nth-of-type(2) .products__img,
.products__item:nth-of-type(4) .products__img,
.products__item:nth-of-type(6) .products__img {
    padding-top: 30px;
    padding-left: 28px;

        @media (min-width: @tablet-width) {
        padding: 0;
    }
}

.products__item:nth-of-type(3) .products__img {
    padding-top: 46px;
    padding-left: 36px;

        @media (min-width: @tablet-width) {
        padding: 0;
    }
}

.products__item:nth-of-type(5) .products__img {
    padding-top: 30px;
    padding-left: 36px;

        @media (min-width: @tablet-width) {
        padding: 0;
    }
}

.products__item:nth-of-type(7) .products__img {
    padding-top: 43px;
    padding-left: 34px;

        @media (min-width: @tablet-width) {
        padding: 0;
    }
}

.products__wrapper {
    display: flex;

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-rows: 242px auto;
        align-items: end;
        padding: 0 37px;
    }
}

.products__img {
    width: 50%;

    @media (min-width: @tablet-width) {
        width: auto;
        margin-bottom: 34px;
    }

    @media (min-width: @desktop-width) {
        width: 100%;
    }
}

.products__img img {
    display: block;

    @media (min-width: @tablet-width) {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    @media (min-width: @desktop-width) {
        margin: 0 auto;
    }
}

.products__descrition {
    width: 50%;

    @media (min-width: @tablet-width) {
        width: auto;
        margin-bottom: 33px;
    }
}

.products__btn {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 0px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
        line-height: 20px;
        padding: 9px 94px;
        width: auto;
    }

    @media (min-width: @desktop-width) {
        padding: 10px 53px;
    }
}


.products-add {
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding-top: 26px;
    padding-bottom: 25px;

    @media (min-width: @tablet-width) {
        border: 1px solid #f2f2f2;
        background-color: #fff;
        padding-top: 52px;   
        padding: 0;     
        display: block;
    }
}

.products-add__decor {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
        width: 60px;
        height: 60px;
        margin-top: 52px;
    }
}

.products-add__decor::before,
.products-add__decor::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
}

.products-add__decor::after {
    transform: rotate(90deg);
}

.products-add__title {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 8px;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 22px;
        margin: 0 auto;
        margin-top: 49px;
        max-width: 134px;
    }
}

.products-add__inf {
    font-family: arial;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
        font-size: 16px;
        line-height: 18px;
        margin: 0 auto;
        margin-top: 23px;
        margin-bottom: 87px;
        max-width: 167px;
    }
}

.products-add__btn {
    font-size: 16px;
    line-height: 0px;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 25px;
    color: @basic-dark-gray;
    background: @basic-gray;

    @media (min-width: @tablet-width) {
        padding: 20px 80px;
        margin-bottom: 38px;
    }

    @media (min-width: @tablet-width) {
        width: auto;
        padding: 20px 53px;
        margin-bottom: 40px;
    }
}

.products-add__btn:hover,
.products-add__btn:focus {
    background-color: #ebebeb;
}

.products-add__btn:active {
    color: rgba(68, 68, 68, 0.3);
}
