.program {
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
        margin-bottom: 45px;
    }
}

.program__item {
    position: relative;
    background-color: @basic-gray;
    padding-right: 33px;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 20px;
    margin-bottom: 20px;
    // min-height: 266px;

    @media (min-width: @tablet-width) {
        padding-top: 77px;
        padding-right: 279px;
        padding-left: 53px;
        padding-bottom: 57px;
        margin-bottom: 30px;
    }
}

.program__wrapper {
    display: flex;
    // padding-top: 24px;
    padding-bottom: 22px;
    align-items: center;

    @media (min-width: @tablet-width) {
        display: block;
        padding-bottom: 24px;
    }
}

.program__decor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: @basic-green;
    margin-right: 19px;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
        width: 200px;
        height: 200px;
        margin-right: 62px;
        position: absolute;
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}

.program__pict img {
    display: block;
    width: 100%;
}

.stage__decor--eat {
    background: url(../img/icon_eat.svg) center top no-repeat rgb(104, 183, 56);
    background-position-y: 50%;
}

.program__title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 37px;

    @media (min-width: @tablet-width) {
        font-size: 36px;
        line-height: 36px;
    }
}

.program__description {
    font-family: 'Arial';
    font-size: 14px;
    line-height: 18px;
    min-height: 90px;
    margin-bottom: 42px;

    @media (min-width: @tablet-width) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 52px;
    }
}

.program__description-pro {
    display: none;

    @media (min-width: @tablet-width) {
        display: block;
    }
}

.program__btn {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    text-decoration: none;
    color: #000;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }
}

.program__btn::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;

    position: absolute;
    top: -16px;
    left: 0px;

    @media (min-width: @tablet-width) {
        display: none;
    }
}

.program__btn::after {
    content: "";
    position: absolute;
    inset: -18px 0px -20px -20px;
}

.program__arrow {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    border: none;
    border-top: 2px solid #000;    
    margin-left: 15px;
}

.program__arrow::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #000;

    position: absolute;
    top: -6px;
    right: -2px;
}

.program__btn:hover .program__arrow,
.program__btn:focus .program__arrow {
    width: 32px;
}

.program__btn:active {
    opacity: 0.3;
}