.radio {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
        border: 1px solid #d9d9d9;
        margin-right: 67px;
        margin-left: 71px;
        margin-top: 72px;
        padding: 28px 25px !important;
    }

    @media (min-width: @desktop-width) {
        margin: 0;
    }
}

.radio__item {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @basic-dark-gray;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 13px;
    }
}

.radio__item:last-of-type {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
        margin-bottom: 0px;
    }
}

.radio__decor {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    @media (min-width: @tablet-width) {
        margin-right: 20px;
    }
}

.radio__decor::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.radio__decor::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 9px;
}

.scheme__option input:checked ~ .radio__decor::after {
    background-color: @basic-green;
}

.radio__item:hover .radio__decor::before,
.radio__item:focus .radio__decor::before {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    border-color: #bababa;
}

.radio__item:active {
    opacity: 0.3;
}

.radio__item:active .radio__decor::before {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
}

.scheme__option input:hover ~ .radio__decor::after {
    background-color: #68B738;
}

.scheme__option input:active ~ .radio__decor::after {
    opacity: 0.3;
}

