.scheme__data {

    @media (min-width: @desktop-width) {
        margin-right: 40px;
        flex-grow: 1;
    }
}

.scheme__option {

    @media (min-width: @desktop-width) {
        margin-left: 40px;
        flex-grow: 1;
    }
}

.scheme__cantainer {

    @media (min-width: @desktop-width) {
        display: flex;
        justify-content: space-between;
    }
}

.scheme__title {
    font-size: 36px;
    line-height: 36px;
    padding: 27px 0 37px 0px;
    position: relative;

    @media (min-width: @tablet-width) {
        font-size: 60px;
        line-height: 60px;
        padding: 0;
        border: none;
        margin-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
        padding-top: 74px;
        margin-bottom: 56px;
    }
}


.scheme__title::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: -20px;

    @media (min-width: @tablet-width) {
        display: none;
    }
}

.scheme__text {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    padding-right: 54px;
    margin-bottom: 39px;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 30px;
        padding-right: 410px;
    }

    @media (min-width: @desktop-width) {
        padding-right: 860px;
        margin-bottom: 66px;
    }
}

.scheme__wrapper {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 32px;

    @media (min-width: @tablet-width) {
        display: flex;
        padding: 0;
        margin-left: 71px;
        align-items: center;
        margin-bottom: 72px;
    }

    @media (min-width: @desktop-width) {
        margin-left: 110px;
        margin-bottom: 82px;
    }
}

.scheme__btn {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 7px 40px;
    width: 100%;
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        margin-right: 61px;
        width: max-content;
        padding: 14px 64px;
    }

    @media (min-width: @desktop-width) {
        margin: 0;
        padding: 14px 0px;
        margin-right: 81px;
        width: 43%;
    }
}

.scheme__required {
    display: block;
    font-family: arial;
    font-size: 14px;
    line-height: 16px;

    @media (min-width: @tablet-width) {
        line-height: 16px;
    }

    @media (min-width: @desktop-width) {
        flex-grow: 1;
        text-align: left;
    }
}