.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 22px;
}


.table__product {
    font-family: arial;
}

.table__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 19px;
    // padding-right: 66px;
    padding-bottom: 14px;
    text-align: left;
}

.table__cell {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    // border: 1px solid #000;
}

.table__option {
    text-align: left;
}

.table__range {
    text-align: right;
}
